@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Lexend+Mega:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Archivo", sans-serif;
}

/* NAV BAR */

nav {
  align-items: center;
  background-color: white;
  display: flex;
  height: 7.5vh;
  justify-content: space-between;
  border-bottom: 4px solid black;
}

.nav-logo {
  font-size: 2rem;
  padding: 1rem;
}

.nav-list {
  display: flex;
  font-size: 2rem;
  list-style: none;
  gap: 1rem;
}

.nav-item {
  height: 100%;
  padding: 1rem;
}

.resume-button {
  background-color: #fb5607;
}

/* HERO SECTION */

.hero {
  align-items: center;
  background-color: #f8d6b3;
  display: flex;
  flex-direction: column;
  height: 92.5vh;
  justify-content: center;
}

.hero-heading {
  font-family: "Lexend Mega", sans-serif;
  font-size: 120px;
}

.hero-copy {
  font-size: 1.8rem;
  max-width: 60%;
  text-align: center;
}

.btn {
  border: none;
  box-shadow: #000000 4px 6px 0;
  font-family: "Archivo", sans-serif;

  padding: 1rem;
  transition-duration: 0.2s;
  transition-property: translate, box-shadow, background-color;
}

.projects-btn {
  background-color: #bafca2;
  font-size: 3rem;
  margin-top: 2rem;
}

.projects-btn:hover {
  background-color: #c3f8b0;
  cursor: pointer;
  translate: -2px -2px;
  box-shadow: #000000 8px 10px 0;
}

/* Projects Section */

.projects {
  background-color: #daf5f0;
  height: 100vh;
}

.projects-heading {
  font-family: "Lexend Mega", sans-serif;
  font-size: 96px;
  text-align: center;
}

.project-card-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 80vh;
  gap: 10%;
}

.project-card {
  background-color: #f8d6b3;
  box-shadow: #000000 8px 12px 0;
  border-radius: 26px;
  padding: 2rem;
}

.project-card:nth-child(2) {
  background-color: #fcdfff;
}

.project-title {
  font-size: 2rem;
}

.project-card > ul {
  list-style: none;
  margin-top: 1rem;
}

.img-placeholder {
  background-color: white;
  width: 350px;
  height: 200px;
}

.tech-list-title {
  margin-top: 1rem;
}

.live-btn {
  background-color: #fdfd96;
  border-radius: 26px;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1rem;
  width: 100%;
}

.live-btn:hover {
  background-color: #fafab1;
  cursor: pointer;
  translate: -2px -2px;
  box-shadow: #000000 8px 10px 0;
}
